{% extends 'core/layout.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ page.title }}</h3>
        </div>
        <div class="card-body">
            {{ page.content|safe }}
        </div>
    </div>
{% endblock %}
