{% extends 'mail/layout.html' %}
{% load mail i18n %}

{% block greeting %}
    <b>{% if user.first_name %}
        {% blocktrans %}Hi, {{ user.first_name }}!{% endblocktrans %}
    {% else %}
        {% trans 'Hi!' %}
    {% endif %}
    </b>
{% endblock %}

{% block content %}
    {% trans 'Verify Email Address' as button_label %}
    <p>{% trans 'Please click the button below to verify your email address.' %}</p>
    {% button button_label url %}
    <p>{% trans 'If you did not create an account, no further action is required.' %}</p>
{% endblock %}
