{% extends 'mail/layout.html' %}

{% block preheader %}
    {{ preheader }}
{% endblock %}

{% block greeting %}
    {% if greeting %}
        <div class="greeting">{{ greeting }}</div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}{% spaceless %}
    {% for line in lines %}{{ line.as_html }}{% endfor %}
{% endspaceless %}{% endblock %}

{% block closing %}
    {% if closing %}
        <div class="closing">{{ closing }}</div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
