<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
    <style>
        {% include './styles.css' %}
        {% block extra_styles %}{% endblock %}
    </style>
</head>
<body class="">
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <span class="preheader">
                    {% block preheader %}{% endblock %}
                </span>

                {% block logo %}{% endblock %}

                <table role="presentation" class="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        {% block greeting %}
                                            <b>{{ greeting }}</b>
                                        {% endblock %}
                                        <br/>
                                        {% block content %}{% endblock %}
                                        <br/>
                                        {% block closing %}{{ closing }}{% endblock %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>

                <!-- START FOOTER -->
                <div class="footer">
                    {% block footer %}
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-block">
                                {% block address %}
                                    &copy; {{ APP_NAME }}
                                {% endblock %}
                                {% block unsubscribe %}{% endblock %}
                            </td>
                        </tr>
                        <tr>
                            <td class="content-block powered-by">
                                {% block powered_by %}{% endblock %}
                            </td>
                        </tr>
                    </table>
                    {% endblock %}
                </div>
                <!-- END FOOTER -->

                <!-- END CENTERED WHITE CONTAINER -->
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>
